@model JustBlog.ViewModels.EntityViewModels.DetailPostVM
@{ 
 }

<header class="masthead" style="background-image: url('/cleanblog/assets/img/dark-web.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1> @Html.Raw(Model.Title)</h1>
                    <h2 class="subheading">@Html.Raw(Model.ShortDescription)</h2>
                    <span class="meta">
                        Posted by
                        @Html.DisplayFor(model => model.PostedOn)
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>