@model IEnumerable<JustBlog.ViewModels.EntityViewModels.ListPostVM>

@{
    ViewData["Title"] = "Index";
}

<header class="masthead" style="background-image: url('theme/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
@foreach (var item in Model)
{
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a asp-action="details" asp-route-id="@item.Id">
                        <h2 class="post-title">@Html.DisplayFor(model => item.Title)</h2>
                    </a>
                    <p class="post-meta">
                        Posted by
                        @Html.DisplayFor(model => item.PostedOn)
                    </p>
                    <p class="post-subtitle">@Html.DisplayFor(model => item.ShortDescription)</p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post preview-->
                <!-- Pager-->
            </div>
        </div>
    </div>
}
<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        
    </main>
</div>

