@using Microsoft.AspNetCore.Identity
@using JustBlog.Models.Entities

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        <a class="" asp-area="Identity" asp-page="/Account/Manage/Index">
         Hello @UserManager.GetUserName(User)!
        </a>      
        <a id="logoutForm" class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            Logout
        </a>       
     }
    else
    {
        <div class="info">
            <a class="" id="register"
                asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
        <div class="info">
            <a class="" id="login"
                asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    }
