@using Microsoft.AspNetCore.Identity
@using JustBlog.Models.Entities

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin") || User.IsInRole("Contributor"))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item text-dark"
                   asp-area="Admin" asp-controller="Role" asp-action="Index">Roles Manager</a>
                <a class="dropdown-item text-dark"
                   asp-area="Admin" asp-controller="User" asp-action="Index">User Manager</a>
                <a class="dropdown-item text-dark"
                   asp-area="Admin" asp-controller="Post" asp-action="Index">Post Manager</a>
                <a class="dropdown-item text-dark"
                   asp-area="Admin" asp-controller="Category" asp-action="Index">Category Manager</a>
                <a class="dropdown-item text-dark"
                   asp-area="Admin" asp-controller="Tag" asp-action="Index">Tag Manager</a>
            </div>
        </li>
    }
    else
    {
    }
}