<div class="card" style="width: 18rem;">
    <img class="card-img-top" style="max-height:8em;" src="/cleanblog/assets/img/about-bg.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">About me</h5>
        <p class="card-text">
            An “About Me,” also known as a blurb, is a short piece of writing that informs your reader 
            about your professional background, key accomplishments.
        </p>
    </div>
</div>
